table {
    table-layout: fixed;
    width: fit-content;
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
}
tr.functions td {
    column-span: 5;
}
tr.basic td {
    column-span: 6;
}
button {
    width: 100%;
    height: 50px;
    font-size: x-large;
}
button.op {
    background-color: lightgray;
    border-color: lightgray;
}
button.num {
    background-color: white;
    border-color: white;
}
button.canc {
    background-color: red;
    border-color: red;
}
button.op:hover,button.num:hover,button.canc:hover {
    filter: brightness(80%);
}
textarea {
    text-align: right;
    resize: none;
    font-size: x-large;
    font-family: 'Silkscreen';
}